    </body>
    <% include ../tpl %>
    <script>
        ADMIN_SERVER = "<%= adminHost %>";
    </script>
    <script src="/javascripts/libs/jquery.min.js"></script>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/javascripts/libs/select2.min.js"></script>
    <script src="/javascripts/libs/mustache.min.js"></script>
    <script src="/javascripts/libs/socket.io.js"></script>
    <script src="/javascripts/libs/underscore.min.js"></script>
    <script src="/javascripts/libs/moment.min.js"></script>
    <script src="/javascripts/libs/jquery.dataTables.js"></script>
    <script src="/javascripts/index.js"></script>
</html>
