<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PM2 Dog</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/select2.min.css">
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <div>
            <img src="/images/logo.png" alt="LOGO"></img>
        </div>
