<% include ./layouts/header %>

<div class="panel panel-default">
    <div class="panel-heading">Processes</div>
    <div class="panel-body">
    <div>
        <div class="dropdown inline-block">
            Category: 
            <button type="button" id="category-select" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="category-select">
                <li><a href="#">All</a></li>
                <li><a href="#">Type 1</a></li>
                <li><a href="#">Type 2</a></li>
            </ul>
        </div>
        <div class="dropdown inline-block">
            Host:
            <button type="button" id="host-select" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="host-select">
                <li><a href="#">All</a></li>
                <li><a href="#">Host 1</a></li>
                <li><a href="#">Host 2</a></li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div id="pm2-dog-list">
    </div>
</div>

<% include ./layouts/footer %>
