<% include ./layouts/header %>

<div class="panel panel-default">
    <div class="panel-heading">Processes</div>
    <div class="panel-body">
    <div id="pm2-dog-list">
    </div>
</div>

<% include ./layouts/footer %>
