<% include ./layouts/header %>

<div class="panel panel-default">
    <div class="panel-heading">Processes</div>
    <div class="panel-body">
    <div>
        <select id="hosts-select" multiple="multiple" style="width:100%">
        </select>
    </div>
    <div id="pm2-dog-list">
    </div>
</div>

<% include ./layouts/footer %>
