body {
    margin-left: 50px;
    margin-right: 50px;
}
.inline-block {
    display: inline-block;
}
.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.action {
    cursor: pointer;
    margin-right: 5px;
}
.my-alert {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    index-z: 9999;
}
.alias {
    color: rgba(33, 150, 243, 0.59);
    float: left;
    font-size: 30px;
}
.updated {
    float: right;
    color: #9E9E9E;
}
.select2-dropdown {
    margin-left: 50px;
}
